body {
    /* background-color: #a4c4ff; */
    margin: 0 auto;
    width: 70vw;
    background-image: url('../public/images/bg.png');
    /* background-position: center 700px; */
    background-size: cover;
}


#title {
    font-size: 60px;
    color: white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #0A174E; /*#F5D042*/

    width: 120px;
    height: 100%;
    border: 1px solid #F5D042; /*0A174E*/
    border-radius: 0 0 60px 60px;
    background-color: #F5D042;
    margin-top: 0;
}

#welcome form {
    font-size: 40px;
}

#room__name {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #0A174E; /*#F5D042*/
}

input {
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-size: 35px;
}

button {
    background-color: transparent;
    border-radius: 50%;
}

ul {
    list-style:none;
}


#room {
    /* margin-top:10px;
    background:gold;
    width:100%;
    height:200px;
    border-radius: 100% / 100% 100% 0 0;     */
    position: relative;
}

#enter__room__name {
    border-right: 2px solid black;
    font-size: 35px;

    /* float: left;
    margin-right: 50px; */
    position: absolute;
    top: 0px;
    width: 200px;
    height: 500px;
}

#chat__container {
    /* margin: 100px 100px;
    position: fixed;
    bottom: 0; */
    position: absolute;
    top: 0px;
    left: 320px;
    width: 700px;
    height: 600px;
    bottom: 0;
}

#chat__container ul {
    height: 400px;
    overflow-y: scroll;
}

#enter__form {
    display: flex;
    margin-top: 10px;
    height: 290px;
    bottom: 0
}

#enter__form #name {
    width: 200px;
}

#enter__form #name input {
    width: 200px;
}
